@font-face {
  font-family: 'Gilroy';
  src: url("./assets/fonts/Gilroy-Semibold.ttf");
}

@font-face {
  font-family: 'Merriweather';
  src: url("./assets/fonts/Merriweather-Black.ttf");
}
* {
  margin: 0;
  padding: 0;
}
body{
  background-color: #191411;
  font-family: 'Gilroy', sans-serif;
  color: white;
  user-select: none;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.common-title{
  font-size: 64px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: 'Merriweather', sans-serif;
  margin-top: 50px;
  margin-bottom: 40px;
}
.header{
  padding: 40px 0;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img{
  vertical-align: bottom;
}
.header-btns{
  display: flex;
  justify-content: space-between;
}
.btn-pizza{
  text-decoration: none;
  margin-right: 20px;
}
.btn-order{
  text-decoration: none;
}
.admin-page{
  overflow: hidden;
  background-image: url("./assets/images/main_bg.png");
  background-position: top center;
  padding-bottom: 380px;
}
.admin-page-title{
  text-align: center;
}
.pizza-admin{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
  background: linear-gradient(95.61deg, #DA8023 0%, #E2B438 100%);
  border-radius: 8px;
  width: 100px;
  height: 32px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  color: #191411;
  font-weight: 600;
  margin-top: 20px;
}
.btn:hover{
  background: linear-gradient(95.61deg, #ac6115 0%, #9e7a19 100%);
}
.btn-add{
  margin-left: 20px;
  text-decoration: none;
  text-align: center;
}
.pizza-item{
  margin: 0 auto 20px;
  width: 700px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #9E7A19FF;
  border-radius: 10px;
  overflow: hidden;
}
.pizza-item-left{
  display: flex;
  align-items: center;
}
.pizza-item-right{
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pizza-img{
  width: 150px;
  height: 150px;
}
.pizza-price{
  margin-right: 20px;
  font-size: 20px;
  font-weight: 900;
}
.pizza-title{
  font-size: 25px;
  margin-left: 20px;
}
.btn-edit{
  margin-right: 10px;
  text-decoration: none;
  font-weight: 600;
}
.form{
  margin: 20px auto 0;
  max-width: 1200px;
  padding: 30px;
  background: #211A16;
  border: 1px solid #353535;
  border-radius: 16px;
}
.select-wrap{
  width: 420px;
}
.input{
  width: 100%;
  border: none;
  border-radius: 10px;
  margin: 10px 0 20px;
  padding: 10px 10px;
}
.form-btn{
  background: linear-gradient(95.61deg, #DA8023 0%, #E2B438 100%);
  border-radius: 8px;
  width: 100px;
  height: 32px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  color: #191411;
  font-weight: 600;
  margin-top: 20px;
}
.form-btn:hover{
  background: linear-gradient(95.61deg, #ac6115 0%, #9e7a19 100%);
}
.client-page{
  background-image: url("./assets/images/clientbg.png");
  background-position: top center;
  background-size: initial;
  padding-bottom: 380px;
}
.container-inner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.client-page-title{
  text-align: center;
  margin-bottom: 20px;
}
.pizza-item-client{
  cursor: pointer;
}
.pizza-item-client:hover{
  transform: scale(1.06);
}
.pizza-item-right-clients{
  flex-direction: column;
  width: 250px;
  text-align: center;
}
.pizza-title-clients{
  margin: 0;
}
.pizza-price-clients{
  margin: 0;
}
.cart{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 30px;
}
.btn-checkout{
  margin: 0 0 0 40px;
}
.backdrop{
  position: fixed;
  inset: 0;
  background-color: rgba(158, 122, 25, 0.8);
}
.modal{
  background-color: #191411;
  width: 400px;
  padding: 15px;
  border-radius: 8px;
  position: fixed;
  top: 0;
  left: -50%;
  right: -50%;
  margin: 0 auto;
}
.modal-title{
  margin-bottom: 20px;
  text-align: center;
}
.oneCartPizza{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #9e7a19;
  margin-bottom: 10px;
}
.oneCartPizza-img{
  width: 65px;
  height: 65px;
}
.modal-btns{
  display: flex;
  justify-content: space-around;
}
.modal-btn-remove{
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("assets/images/trash.svg");
  border: none;
  cursor: pointer;
  padding: 10px;
}